@import "~materialize-css/dist/css/materialize.min.css";


input.yellow-input {
  border-bottom: 1px solid #000000!important;
  box-shadow: 0 0 0 0 #000000!important;
  padding-top: 20px;
}

input.yellow-input + label {
  color: #000000!important;
}

input.yellow-input:focus + label {
  color: #000000!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffffff!important;
  box-shadow: 0 1px 0 0 #ffffff!important;
}

.fa-list-alt {
  margin-right: 5px;
}

.fa-plus-circle {
  margin-right: 5px;
}

.fa-door-open {
  margin-right: 5px;
}

.links-list {
  margin-top: 100px;
  font-size: 25px;
}

label.auth-page-text {
  font-size: 17px;
  font-weight: lighter;
}

hr.hr-auth {
  border-bottom: 1px solid #000000!important;
  box-shadow: 0 0 0 0 #000000!important;
  margin-bottom: 30px;
}

hr.hr-auth-bottom {
  border-bottom: 1px solid #000000!important;
  box-shadow: 0 0 0 0 #000000!important;
  margin-top: 30px;
}

h1.h-auth {
  font-size: 50px;
  font-weight: lighter;
}

p.bottom-text {
  text-align: center;
  font-weight: lighter;
}
